#tag-input {
  font-size: 2em;
}
body {
  background: linear-gradient(270deg, white, white);
  background-size: 1400% 1400%;
  animation: backgroundDyanimcGenerator 80s ease infinite;
}
@keyframes backgroundDyanimcGenerator {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
#tweet-chart {
  width: 100%;
  height: 40vh;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.margin-sm-right {
  margin-right: 5%;
}
.card-shadow {
  transition: 0.6s ease;
}
.card-shadow:hover {
  box-shadow: black 1px 1px 50px;
}
